<configuration>
  <appSettings>
    <add key="owin:AutomaticAppStartup" value="false"/>
    <!--<add key="PassiveFilePath" value="E:\new亿程\石家庄智慧云驾培\公众平台\项目源码\后端源码\JPGZService\src\JPGZService.Web.Host\wwwroot\" />
    --><!--是否提交省平台--><!--
    <add key="IsSubmitProvince" value="false" />
    --><!--是否提交省平台的市行政区号（多个以逗号隔开）--><!--
    <add key="IsUrbanCode" value="130700" />-->
  </appSettings>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
  <connectionStrings>
    <add name="RabbitMQ" connectionString="host=localhost;username=rabbit_JP;password=rabbit_JP"/>
  </connectionStrings>
</configuration>
